page-about {

  .scroll-item {
    border-radius: 1em;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    padding: 0;
    img {
      width: 105vw;
      min-width: 105vw;
      max-width: 105vw;
      max-height: 38vh;
      margin-left: -10vw;
      margin-top: -10vw;
      object-fit: cover;
    }
  }
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 100%;

    .scroll-item {
      margin-top: .5em;
      margin-bottom: 0;
      display: inline-block;
      width: 80vw;

      border-radius: 6em;
      box-shadow: 0 0 6px black;

      img {
        margin: 0;
        padding: 0;
      }

    }


  }

  ion-content {
    background-image: url("../assets/imgs/background2.svg");
    background-size: 140vw;
    background-position:  center 14vh;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 2em;
  }

  .persona-info {
    position: absolute;
    bottom: 2em;
    z-index: 22;

    h2, p {
      color: white;
    }
    p {
      color: #bebebe;
    }
  }

  .scroll-content {
    padding: 0;
    margin: 0;
  }

  ion-header {
    background-color: white;
  }
  ion-toolbar {
    background-color: white;
  }


  .go-back {
    width: 2em;

  }

  .logo-text {
    width: 8em;
  }
  .settings-btn {
    margin: -2.8em -1em 0 -1em;
  }
  .settings {
    width: 1.6em;
    height: 1.6em;
    padding: 0;

    //margin-top: -1.8em;


  }
  .avatar-container {

    $imgsize: 6em;
    width: $imgsize;
    height: $imgsize;
    border-radius: 50em;
    overflow: hidden;
    .avatar {
      width: $imgsize;
      border-radius: 50em;
    }
  }

  ion-scroll {

    margin: -1em;
    height: 65vh;
    padding: 0;
  }

  ion-item {
    background-color: transparent;
  }




}
