page-about {


  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 100%;

    .scroll-item {
      margin-top: .5em;
      margin-bottom: 0;
      display: inline-block;
      width: 80vw;

      img {
        margin: 0;
        padding: 0;
      }

    }


  }

}
