page-profile {


  ion-label {
    color: white;
  }
  ion-content {
    background-image: url("../assets/imgs/background2.svg");
    background-size: 140vw;
    background-position:  center 12vh;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 2em;
  }

  .souvegarder {
    background-image: url("../assets/imgs/buttonblanc.svg");

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .inputs {
    position: absolute;
    bottom: 12em;
    margin: 1em 13%;

    z-index: 999;
    font-size: 1.2em;
    width: 70%;
    background-color: transparent;

    input {
      //background-color: white;

      padding: .8em;
      border-radius: .5em;
      margin: .6em auto;
      z-index: 9999;

    }
  }

  .persona-info {
    position: absolute;
    bottom: 2em;
    z-index: 22;

    h2, p {
      color: white;
    }
    p {
      color: #bebebe;
    }
  }

  .scroll-content {
    padding: 0;
    margin: 0;
  }

  ion-header {
    background-color: white;
  }
  ion-toolbar {
    background-color: white;
  }


  .go-back {
    width: 2em;

  }

  .logo-text {
    width: 8em;
  }
  .settings-btn {
    margin: -2.8em -1em 0 -1em;
  }
  .settings {
    width: 1.6em;
    height: 1.6em;
    padding: 0;

    //margin-top: -1.8em;


  }
  .avatar-container {

    $imgsize: 6em;
    width: $imgsize;
    height: $imgsize;
    border-radius: 50em;
    overflow: hidden;
    .avatar {
      width: $imgsize;
      border-radius: 50em;
    }
  }

  ion-scroll {

    margin: -1em;
    height: 65vh;
    padding: 0;
  }

  ion-item {
    background-color: transparent;
  }



}
