page-home {
  ion-header {
    background-color: white;
  }
  ion-toolbar {
    background-color: white;
  }


  .go-back {
    width: 2em;

  }

  .logo-text {
    width: 8em;
  }
  .avatar {
    width: 8em;
  }

}
