page-home {

  ion-content {
    background-image: url("../assets/imgs/background2.svg");
    background-size: 90vh 140vw;
    background-position:  center 12vh;
    background-repeat: no-repeat;
    position: relative;
  }

  .persona-info {
    position: absolute;
    bottom: 2em;
    z-index: 22;

    h2, p {
      color: white;
    }
    p {
      color: #bebebe;
    }
  }

  .scroll-content {
    padding: 0;
    margin: 0;
  }

  ion-header {
    background-color: white;
  }
  ion-toolbar {
    background-color: white;
  }


  .go-back {
    width: 2em;

  }

  .logo-text {
    width: 8em;
  }
  .settings {
    width: 1.4em;
    height: 1.4em;

    margin-top: -1.8em;


  }
  .avatar-container {

    $imgsize: 6em;
    width: $imgsize;
    height: $imgsize;
    border-radius: 50em;
    overflow: hidden;
    .avatar {
      width: $imgsize;
      border-radius: 50em;
    }
  }

  ion-scroll {

    margin: -1em;
    height: 65vh;
    padding: 0;
  }

  ion-item {
    background-color: transparent;
  }



}
