<!-- Generated template for the ContactsHolderComponent component -->
<ion-card class="holder">

  {{contact.username}}
  <ion-card-content>
    <p>{{contact.company}}</p>
    <ion-item>
        {{contact.phone}}
      <button ion-button clear icon-only item-end icon-left>
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
        {{contact.email}}
      <button ion-button clear icon-only item-end icon-left>
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-item>
  </ion-card-content>
</ion-card>
