<!-- Generated template for the ContactsHolderComponent component -->
        
<ion-item >
  <ion-avatar item-start>
    <img src="../../assets/imgs/DSC_0507.JPG">
  </ion-avatar>
  <h4>{{contact.username}}</h4>
  <h4>{{contact.company}}</h4>
  <button ion-button icon-only clear item-end (click)="presentPopover($event)">
    <ion-icon name="more"></ion-icon>
  </button>

</ion-item>


<!-- 
<ion-card class="holder">

  
  <ion-card-content>
    <p></p>
    <ion-item>
        {{contact.phone}}
      <button (click)="callContact()" ion-button clear icon-only item-end icon-left>
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
        {{contact.email}}
      <button (click)="sendMail()" ion-button clear icon-only item-end icon-left>
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-item>
  </ion-card-content>
</ion-card> -->
